$mmyGameTopBarHeight: 88px;

.game {
  background-image: url(../images/memory_movie_bg.png);
  background-size: 100% 100%;
}

// ---------------------------------------
// GameTopBar
// ---------------------------------------


.mmyGameTopBar {

  .mmyBtn {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #533231;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #533231;

    &:hover {
      text-decoration: none;
      color: #533231;
      background-color: rgba(0,0,0,0.1);
    }
  }

  .mmyBackBtn {
    display: table;

    >div {
      @extend .mmyTable;
      height: $mmyGameTopBarHeight;
    }
  }

  .mmyCenterWrapper {
    text-align: center;
  }

  .mmyGameStatusBar {
    display: inline-block;
    font-size: 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .mmyScore, .mmyPlayer, .mmyTimer {
    float: left;
    display: table;

    >div {
      @extend .mmyTable;
      height: $mmyGameTopBarHeight;
    }
  }

  .mmyScore {
    min-width: 40px;
    width: 40px
  }

  .mmyPlayer {
    min-width: 120px;
    width: 120px;
  }

  .mmyTimer {
    min-width: 60px;
    width: 60px;
  }

  .mmyTable {
    display: table-cell;
    vertical-align: middle;
  }
}

.mmyGameBoard {
  background-color: rgba(0,0,0,0.1);

  .flip {
    height: 180px;
  }
}
