$mmyGameTopBarHeight: 88px;
$mmyCardMargin: 20px;
$mmyPreviewCardMargin: 30px;

.mmyGame {
  background-image: url(../images/memory_movie_bg.png);
  background-size: 100% 100%;
}

// ---------------------------------------
// GameTopBar
// ---------------------------------------


.mmyGameTopBar {
  height: $mmyGameTopBarHeight;
  border-bottom: solid 1px rgba(0,0,0,0.2);

  .mmyBtn {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #533231;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #533231;

    &:hover {
      text-decoration: none;
      color: #533231;
      background-color: rgba(0,0,0,0.1);
    }
  }

  .mmyBackBtn {
    display: table;

    >div {
      @extend .mmyTable;
      height: $mmyGameTopBarHeight;
    }
  }

  .mmyCenterWrapper {
    text-align: center;
  }

  .mmyGameStatusBar {
    display: inline-block;
    font-size: 16px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .mmyScore, .mmyPlayer, .mmyTimer {
    float: left;
    display: table;
    border-left: 1px solid rgba(0,0,0,0.05);
    border-right: 1px solid rgba(0,0,0,0.05);

    >div {
      @extend .mmyTable;
      height: $mmyGameTopBarHeight;
    }

    .mmyInfo {
      color: rgba(53,50,49,0.5);
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .mmyScore {
    min-width: 80px;
    width: 80px
  }

  .mmyPlayer {
    min-width: 160px;
    width: 160px;
  }
  .mmyPlayer.isActive {
    background-color: rgba(0,0,0,0.05);
  }


  .mmyTimer {
    min-width: 80px;
    width: 80px;
  }

  .mmyTable {
    display: table-cell;
    vertical-align: middle;
  }
}

.mmyGameBoard {
  overflow: hidden;
  position: relative;
  background-color: rgba(0,0,0,0.1);

  .mmyPreviewCards {
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  >.row {
    height: 100%;
    > .mmyPreviewCards {
      height: 100%;
        > .row {
          line-height: 0;
          padding: 30px 0 0 0;
          text-align: center;
        }
    }
    > .mmyCards {
      font-size: 0;
      height: 100%;
      padding: $mmyPreviewCardMargin - $mmyCardMargin/2 0 $mmyPreviewCardMargin - $mmyCardMargin/2 0;
      text-align: center;
    }
  }

  .mmyPrieviewCardWrapper {
    display: inline-block;
    position: relative;
  }

  .mmyPreviewCard {
    position: relative;
    height: 100%;
  }

  .mmyPreviewCardBorder {
    background-color: white;
    border: 14px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .mmyCardBorder {
    @extend .mmyPreviewCardBorder;
    border: 7px solid white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .mmyCard {
    @extend .mmyPreviewCard;
  }

  .mmyCardRow {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
  }

  .mmyCardCol {
    float: left;
    padding: $mmyCardMargin/2;
  }
}

.mmyAlerts {
  color: #533231;
  z-index: 10;
  display: table;
  height: 100%;
  width: 40%;
  font-size: 14px;
  position: absolute;
  left: 12%;

  button {
    float: left;
    padding: 0 10px 0 0 ;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.mmyTagCard {
  height: 100%;
  font-size: 22px;
  color: #533231;

  > div {
    line-height: normal;
    height: 25%;
    position: relative;
    > div {
      display: table;
      width: 100%;
      height: 100%;
    }
  }

  p {
    display: table-cell;
    vertical-align: middle;
  }

  span {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: block;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 1%, #cccccc 50%, #fffcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#ffffff), color-stop(50%,#cccccc), color-stop(100%,#fffcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ffffff 1%,#cccccc 50%,#fffcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ffffff 1%,#cccccc 50%,#fffcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ffffff 1%,#cccccc 50%,#fffcfc 100%); /* IE10+ */
    background: linear-gradient(to right, #ffffff 1%,#cccccc 50%,#fffcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffcfc',GradientType=1 ); /* IE6 */
    width: 100%;
    height: 2px;
  }
}

.mmyTagCardSmall {
  @extend .mmyTagCard;
  font-size: 12px;
}
