<div class="row">
  <div class="col-sm-3">
    <div class="big-card flip" aspect-ratio aspect-ratio-diff="30">
      <div class="card" ng-class="{ flipped: game.flippedCards[0].status == 'flipped' }">
        <div class="face front">
          Fronta
        </div>
        <div class="face back" background-image="game.flippedCards[0].Cover_Url"></div>
      </div>
    </div>
    <div class="big-card flip" aspect-ratio aspect-ratio-diff="30">
      <div class="card" ng-class="{ flipped: game.flippedCards[1].status == 'flipped' }">
        <div class="face front">
          Front
        </div>
        <div class="face back" background-image="game.flippedCards[1].Cover_Url"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="row line" ng-repeat="row in game.cards | partition:6:this">
      <div class="col-sm-2" ng-repeat="card in row">
        <div class="flip" aspect-ratio>
          <div class="card"
          ng-class="{ flipped: card.status == 'flipped' }"
          ng-click="flipCard(card)">
          <div class="face front">
            Front
          </div>
          <div class="face back" background-image="card.Cover_Url">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>
  {{game | json}}
</pre>
