<div class="mmyGame row">
  <!-- Game top bar -->
  <div class="col-sm-12 mmyGameTopBar">
    <div class = mmyAlerts>
      <div>
        <div class="" ng-if="app.error"><button type="button" class="close" data-dismiss="alert">&times;</button><span ng-bind="app.error"></span></div>
        <div class="" ng-if="game.players.length<2"><button type="button" class="close" data-dismiss="alert">&times;</button>Send your friends & enemies this link to join:<br><strong>{{location}}</strong></div>
        <div class="" ng-if="app.warning"><button type="button" class="close" data-dismiss="alert">&times;</button><span ng-bind="app.warning"></span></div>
        <div class="" ng-if="app.information"><button type="button" class="close" data-dismiss="alert">&times;</button><span ng-bind="app.information"></span></div>
        <div class="" ng-if="app.success"><button type="button" class="close" data-dismiss="alert">&times;</button><span ng-bind="app.success"></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3" >
        <div class="mmyBackBtn">
          <div>
            <a href="#" class="mmyBtn" role="button">New</a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="mmyCenterWrapper">
          <div class="mmyGameStatusBar">
            <div class="mmyScore">
              <div>
                <p>
                  {{game.players[0].score}}
                </p>
              </div>
            </div>
            <div class="mmyPlayer" ng-class="{ isActive: game.activePlayer == user.id }" >
              <div>
                <p>
                  Me
                </p>
              </div>
            </div>
            <div class="mmyTimer">
              <div>
                <p>
                  -
                </p>
              </div>
            </div>
           <div class="mmyPlayer">
              <div>
                <p>
                  Friend or Enemy
                </p>
              </div>
            </div>
            <div class="mmyScore">
              <div>
                <p>
                  {{game.players[1].score}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Game board -->
  <div class="col-sm-12 mmyGameBoard" adjust-height>
    <div class="row">
      <!-- Cards -->
      <div class="col-sm-3 mmyPreviewCards">
        <div class="row">
          <div class="mmyPrieviewCardWrapper">
            <div class="mmyPreviewCard flip" set-preview-card-size>
              <div class="card" ng-class="{ flipped: app.flippedCards[0].status == 'flipped' }">
                <div class="face front">
                </div>
                <div class="face back cover" ng-if="app.flippedCards[0].type =='cover'" background-image="app.flippedCards[0].Cover_Url"></div>
                <div class="face back tags" ng-if="app.flippedCards[0].type =='tags'">
                  <p>{{app.flippedCards[0].Tags[0]}}</p>
                  <p>{{app.flippedCards[0].Tags[1]}}</p>
                  <p>{{app.flippedCards[0].Tags[2]}}</p>
                  <p>{{app.flippedCards[0].Tags[3]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mmyPrieviewCardWrapper">
            <div class="mmyPreviewCard flip" set-preview-card-size>
              <div class="card" ng-class="{ flipped: app.flippedCards[1].status == 'flipped' }">
                <div class="face front">
                </div>
                <div class="face back cover" ng-if="app.flippedCards[1].type =='cover'" background-image="app.flippedCards[1].Cover_Url"></div>
                <div class="face back tags" ng-if="app.flippedCards[1].type =='tags'">
                  <p>{{app.flippedCards[0].Tags[0]}}</p>
                  <p>{{app.flippedCards[0].Tags[1]}}</p>
                  <p>{{app.flippedCards[0].Tags[2]}}</p>
                  <p>{{app.flippedCards[0].Tags[3]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card preview -->
      <div class="col-sm-9 mmyCards">
        <div class="mmyCardRow" ng-repeat="row in app.chunkedCards"><div class="mmyCardCol" ng-repeat="card in row">
            <div class="flip mmyCard" set-card-size>
              <div class="card"
                ng-class="{ flipped: card.status == 'flipped' }"
                ng-click="flipCard(card)"
                ng-if="card.status!='scored'">
                <div class="face front">
                </div>
                <div class="face back cover" ng-if="card.type =='cover'" background-image="card.Cover_Url"></div>
                <div class="face back tags" ng-if="card.type =='tags'">
                  <p>{{card.Tags[0]}}</p>
                  <p>{{card.Tags[1]}}</p>
                  <p>{{card.Tags[2]}}</p>
                  <p>{{card.Tags[3]}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
